      /* Optional: Makes the sample page fill the window. */ 

*{
    margin: 0;
    padding: 0;
}
html{
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%;
}


body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #A3D166;
    color: white;
    
}


#map{
    height: 50%;
    width: 50%;
    margin: auto;
}

.hide{
    display: none;
}
